@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato:300,400,900');
body {
  font-family: $ff-sans;
  font-size: 1rem;
  line-height: 1.6;
  color: gray(4);
  font-weight: $fw-light;
}

h1,
h2,
h3,
p,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  font-family: $ff-serif;
}

h3 {
  color: gray(5);
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.3125rem;
  margin-top: 2rem;
  margin-bottom: .5em;
}

.page-title {
  color: gray(1);
  font-size: 3rem;
  line-height: 1.2;
}

.section {
  &__title {
    color: $primary;
    font-size: 3rem;
    line-height: 1;
  }

  &__subtitle {
    color: gray(3);
    font-size: 1.68rem;
    font-weight: $fw-normal;
    line-height: 1.1;
    margin-top: 0.5em;
  }
}
